body{
  margin:0;
  padding:0;
  font-family: Sans-Serif;
  line-height: 1.5em;
}

main {
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  float: left;
  width: 100%;
}

.headSpan {
	
  color:white;
  position:relative;
  font-size: 35px;
  padding-top: 15px;
  position: absolute;
  padding-left: 245px;
  
}

#nav {
  float: left;
  width: 230px;
  margin-left: -100%;
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  background: #eee;
  margin-top: -7px;
}

#wrapper {
  overflow: hidden;
}

#content {
  margin-left: 230px;
}

.innertube{
  margin: 15px;
  margin-top: 0;
}

p {
  color: #555;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  color: darkgreen;
  text-decoration: none;
}
	